#header{
    padding: 1em;
}

#titulo_page{
    font-family: "Satisfy" ;
}

.carro{
    display: inline;
}

a{
    text-decoration: none;
    color:black;
}

#banner{
    width: 100%;
}

#category{
    text-align: center;
}

.navbar {
    margin: 1em 0;
  }

#category_title {
    padding: 1em 0;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
  }

#products{
    padding: 1em;
}

.card img {
    height: auto;
    width: auto;
}

div .products{
    padding: 1em;
}

div .card{
    padding: 1em;
}

button{
    padding: 20px;
}

.btn-modal{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: auto;
}

#btn-modal-continue{
    background-color: #f3e9dd ;
}

#compras{
    display: none;
}